body {
	margin: 0;
	padding: 0;
	background-color: #E4E5E8;
}
.nav-wrapper {
	background-color: #4d5ea1;
	height: 40px;
}
.nav-content {
	width: 960px;
	margin: 0 auto;
}
.logo {
	padding-top: 5px;
}
.searchbar-wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.searchbar {
	height: 23px;
    float: left;
    margin-top: 5px;
    width:520px;
}
.search-img {
	position: absolute;
    right: 3px;
    top: 6px;
}
.profile-name, .home {
	color: white;
	text-decoration: none;
	position: relative;
	top: -9px;
}
.home {
	font-weight: bold;
	margin-right: 25px;
    margin-left: 10px;
}
.right-border {
	border-right: 1px solid #384183;
	padding-right: 15px;
}
.left-margin {
	margin-left: 10px;
}
.profile {
	margin-left: 30px;
}
.page {
	margin-top: 10px;
	overflow: hidden;
	width: 960px;
	margin-left: auto;
	margin-right:auto;
}
.main-section {
	width: 750px;
	margin-right: 10px;
	float: left;
}
.sidebar {
	width: 200px;
	float:right;
}
.banner {
	height: 300px;
}
.columns {
	overflow: hidden;
}
.column-left {
	float: left;
	width: 300px;
	margin-right:10px;
}
.column-right {
	float: right;
	width: 440px;
}

.banner-top {
	height: 260px;
	position: relative;
	background-color: #435097;
}
.banner-top h3 {
	position: absolute;
    left: 170px;
    margin: 0 0 5px 0;
    bottom: 30px;
    color: white;
    font-size: 24px;
}
.banner-top p {
	position: absolute;
	left: 170px;
	bottom: 10px;
    margin: 0;
	color: white;
}
.banner-img {
	background-color: white;
    display: block;
    width: 150px;
    height: 180px;
    position: relative;
    left: 10px;
    bottom: -110px;
}
.buttons {
	position: absolute;
    bottom: 10px;
    right: 180px;
    display: inline-block;
    padding: 3px 10px;
    background-color: white;
    color: #435097;
    text-decoration: none;
    font-size: 13px;
}
.buttons-group {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.buttons-group a {
	float:left;
	padding: 3px 7px;
	background-color: white;
	color: #435097;
	text-decoration: none;
	font-size: 13px;
	border-right: 1px solid lightgray;
}
.buttons-group a:last-child {
	font-size: 32px;
    line-height: 1px;
    height: 15px;
}
.banner-menu {
	height: 40px;
	margin:0;
	list-style-type: none;
	padding-left: 180px;
    background-color: white;
}
.banner-menu li {
	display: inline;
}
.banner-menu li a {
	display: inline-block;
	color: #171A22;
	text-decoration: none;
	font-size: 15px;
	padding: 5px 9px;
    margin-top: 8px;
}
.banner-menu li:nth-child(1) a{
	margin-right: 10px;
    font-weight: bold;
    border-bottom: 5px solid #435097;
}
.banner-menu li:nth-child(2) a,
.banner-menu li:nth-child(3) a,
.banner-menu li:nth-child(4) a {
	border-right: 1px solid lightgray;
}












